#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

service mtk_secure_element_hal_service /vendor/bin/hw/android.hardware.secure_element@1.2-service-mediatek
    override
    class hal
    user secure_element
    group secure_element
    disabled

service vendor.secure_element /vendor/bin/hw/vendor.xiaomi.hardware.secure_element@1.2-service
    override
    class late_start
    user system
    group nfc secure_element
    disabled

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc@2.0-service.nxp
    override
    class early_hal
    user nfc
    group nfc drmrpc system
    disabled

service vendor.keymint-mitee /vendor/bin/hw/android.hardware.security.keymint@1.0-service.mitee
    override
    class early_hal
    interface android.hardware.keymaster@4.0::IKeymasterDevice default
    interface android.hardware.keymaster@4.1::IKeymasterDevice default
    user system
    group system drmrpc
    seclabel u:r:hal_keymint_default:s0
    disabled

on boot
    enable vendor.keymint-mitee
    enable mtk_secure_element_hal_service
    enable vendor.secure_element
    enable vendor.nfc_hal_service
