#
# Copyright (C) 2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#
service vendor.mrmd /odm/bin/mrmd_mitee
    override
    class hal
    user system
    group system shell
    disabled

service mtk-secure-element-hal-service /vendor/bin/hw/android.hardware.secure_element@1.2-service-mediatek
    override
    class hal
    user secure_element
    group secure_element
    disabled

service vendor.vibratorfeature-hal-service /vendor/bin/hw/vendor.xiaomi.hardware.vibratorfeature.service
    override
    class hal
    user system
    group drmrpc system input
    disabled

service vendor.secure-element /vendor/bin/hw/vendor.xiaomi.hardware.secure_element@1.2-service
    override
    class late_start
    user system
    group nfc secure_element
    disabled

service vendor.nfc-hal-service /vendor/bin/hw/android.hardware.nfc-service.nxp
    override
    class early_hal
    user nfc
    group nfc drmrpc system
    seclabel u:object_r:hal_nfc_default_exec:s0
    disabled

service vendor.keymint-mitee /vendor/bin/hw/android.hardware.security.keymint@1.0-service.mitee
    override
    class early_hal
    interface android.hardware.keymaster@4.0::IKeymasterDevice default
    interface android.hardware.keymaster@4.1::IKeymasterDevice default
    user system
    group system drmrpc
    seclabel u:r:hal_keymint_default:s0
    disabled

on boot
    enable vendor.mrmd
    enable vendor.keymint-mitee
    enable mtk-secure-element-hal-service
    enable vendor.secure-element
    enable vendor.nfc-hal-service
    enable vendor.vibratorfeature-hal-service
